body, html{
	margin: 0;
	padding: 0;
}

body, a, input, textarea{
	font-size: 12px;
	text-decoration: none;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}

a, input[type="submit"]{
	color: #fff;
	background-color: #56779a;
	padding: 8px 12px;
	margin-right: 2px;
	border-radius: 2px;
	border: none;
}
a:hover{
	opacity: 0.8;
}

input, textarea{
	padding: 10px;
	border-radius: 2px;
	border: 2px solid #ccc;
	outline: none;
}

table{
	text-align: left;
	border-spacing: 10px 5px;
	padding: 20px 0px;
}
table a{
	display: inline-block;
	padding: 0px;
	background-color: transparent;
	font-weight: bold;
	color: #000;
}

.wrapper{
	width: 1000px;
	padding: 20px 20px;
	margin: auto;
}

form .field{
	display: block;
	margin-bottom: 10px;
}
form .field label{
	padding-left: 10px;
	padding-bottom: 5px;
	display: inline-block;
}